apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: test
spec:
  replicas: 0
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
      annotations:
        deployment_slot: 'newerst'
        prometheus.io/scrape: "true"
        prometheus.io/port: "9797"
    spec:
      containers:
        - name: app
          imagePullPolicy: IfNotPresent
          image: example-docker-image:v7
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
            - name: http-metrics
              containerPort: 9797
              protocol: TCP
          volumeMounts:
            - name: podinfo
              mountPath: /etc/podinfo
          env:
            - name: PORT
              value: "3000"
            - name: METRICS_PORT
              value: "9797"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
      volumes:
        - name: podinfo
          downwardAPI:
            items:
              - path: labels
                fieldRef:
                  fieldPath: metadata.labels
              - path: annotations
                fieldRef:
                  fieldPath: metadata.annotations
